@keyframes openList {
    0% {
        max-height: 0px;
    }
    100% {
        max-height: 100vh;
    }
}
@keyframes closeList {
    0% {
        max-height: 100vh;
    }
    100% {
        max-height: 0px;
    }
}

input.inp {
    display: none;
}
ul.content{
    max-height: 0px;
    overflow: hidden;
}
input.inp:checked ~ ul.content{
    animation: openList forwards .4s ease-in;
}
input.inp:not(:checked) ~ ul.content{
    animation: closeList forwards .4s ease-out;
}

li.optionFilter{
    position: relative;
}

li.optionFilter::before{
    content: '';
    display: block;

    position: absolute;
    bottom: 0px;
    left: 0%;

    width: 100%;
    height: 1px;

    margin: auto;

    z-index: 999;
    background-color: rgba(172, 172, 172, 0.486);
}
li.optionFilter:last-child::before{
    background: transparent;
}
