@keyframes openList {
    0% {
        max-height: 0px;
    }
    100% {
        max-height: 100vh;
    }
}
@keyframes closeList {
    0% {
        max-height: 100vh;
    }
    100% {
        max-height: 0px;
    }
}

input.inp {
    display: none;
}
ul.content{
    max-height: 0px;
    overflow: hidden;
}
input.inp:checked ~ ul.content{
    animation: openList forwards .3s ease-in;
}
input.inp:not(:checked) ~ ul.content{
    animation: closeList forwards .3s ease-out;
}

div.options:hover a span{
    text-decoration: underline;
}
